## 데이터 전처리

### 관련 라이브러리 호출

In [1]:
# 관련 라이브러리를 호출합니다.
import os
import chardet
import numpy as np
import pandas as pd
import joblib

### 작업 경로 확인 및 변경

In [2]:
# 현재 작업 경로를 확인합니다.
os.getcwd()

'd:\\python\\PythonBasic-main\\live'

In [3]:
# data 폴더로 작업 경로를 변경합니다.
os.chdir(path = '../data')

In [4]:
# 현재 작업 경로에 있는 폴더명과 파일명을 출력합니다.
os.listdir()

['APT_List_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'KBO_Hitters_2021.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'Naver_APT_Detail_Seoul.xlsx']

###  xlsx 파일을 읽고 데이터프레임 생성

In [5]:
# 가격 xlsx 파일을 읽고 데이터프레임을 생성합니다.
%time price = pd.read_excel(io = 'APT_Price_Seoul_2021.xlsx')

CPU times: total: 6.56 s
Wall time: 7.03 s

In [6]:
# price의 정보를 확인합니다.
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43447 entries, 0 to 43446
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역코드    43447 non-null  int64
 1   아파트     43447 non-null  object
 2   시도명     43447 non-null  object
 3   시군구     43447 non-null  object
 4   법정동     43447 non-null  object
 5   지번      43433 non-null  object
 6   거래일     43447 non-null  datetime64[ns]
 7   전용면적    43447 non-null  float64
 8   층       43447 non-null  int64
 9   거래금액    43447 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 3.3+ MB

In [7]:
# price의 처음 5행을 출력합니다.
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,11170,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,11305,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,11380,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"

### csv 파일을 읽고 데이터프레임 생성

In [8]:
# 가격 csv 파일명을 재사용할 수 있도록 변수에 할당합니다.
file = 'APT_Price_Seoul_2021.csv'

In [9]:
# csv 파일을 바이너리 모드로 읽습니다.
text = open(file = file, mode = 'rb').read()
text[:100]

b'\xec\xa7\x80\xec\x97\xad\xec\xbd\x94\xeb\x93\x9c,\xec\x95\x84\xed\x8c\x8c\xed\x8a\xb8,\xec\x8b\x9c\xeb\x8f\x84\xeb\xaa\x85,\xec\x8b\x9c\xea\xb5\xb0\xea\xb5\xac,\xeb\xb2\x95\xec\xa0\x95\xeb\x8f\x99,\xec\xa7\x80\xeb\xb2\x88,\xea\xb1\xb0\xeb\x9e\x98\xec\x9d\xbc,\xec\xa0\x84\xec\x9a\xa9\xeb\xa9\xb4\xec\xa0\x81,\xec\xb8\xb5,\xea\xb1\xb0\xeb\x9e\x98\xea\xb8\x88\xec\x95\xa1\n'

In [10]:
# csv 파일의 문자 인코딩 방식을 확인합니다.
chardet.detect(text[:100])

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [11]:
# 가격 csv 파일을 읽고 데이터프레임을 생성합니다.
%time price = pd.read_csv(filepath_or_buffer = file, encoding = 'UTF-8')

CPU times: total: 109 ms
Wall time: 121 ms

In [12]:
# price의 열별 자료형을 확인합니다.
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

### csv 파일의 단점 해결

In [13]:
# 날짜 데이터는 날짜형, 콤마를 포함하는 숫자는 정수형으로 읽습니다.
df = pd.read_csv(filepath_or_buffer = file, 
                 parse_dates = ['거래일'], 
                 thousands = ',')

In [14]:
# df의 열별 자료형을 확인합니다.
df.dtypes

지역코드             int64
아파트             object
시도명             object
시군구             object
법정동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

### 열 선택

In [15]:
# 열이름을 문자열 스칼라로 지정하면 시리즈로 반환합니다.
# [참고] 열이름을 리스트로 지정하면 데이터프레임으로 반환합니다.
price['지역코드']

0        11170
1        11305
2        11380
3        11380
4        11380
         ...
43442    11590
43443    11650
43444    11680
43445    11680
43446    11740
Name: 지역코드, Length: 43447, dtype: int64

In [16]:
# 2개 이상의 열을 선택하려면 반드시 리스트로 지정해야 합니다.
# [참고] 열이름 순서를 변경하면 위치를 바꿔서 반환합니다.
price[['아파트', '지역코드']]

                  아파트   지역코드
0                동아그린  11170
1            한원힐트리움수유  11305
2      대림한숲(DMC이편한세상)  11380
3             동광갈현베르빌  11380
4             동광갈현베르빌  11380
...               ...    ...
43442         흑석동양아파트  11590
43443           삼풍아파트  11650
43444        래미안블레스티지  11680
43445          현대비젼21  11680
43446         코오롱(1차)  11740

[43447 rows x 2 columns]

In [17]:
# 슬라이스로 연속된 열을 선택하려면 loc 인덱서를 추가합니다.(배열 인덱싱)
# [주의] loc 인덱서를 생략하면 에러를 반환합니다.
price.loc[:, '거래일':'거래금액']

              거래일    전용면적   층     거래금액
0      2021-01-01  43.020  11   87,500
1      2021-01-01  27.390   5   24,300
2      2021-01-01  84.951   3   77,000
3      2021-01-01  84.997   8   68,000
4      2021-01-01  84.997   8   68,000
...           ...     ...  ..      ...
43442  2021-12-31  84.991   1  105,000
43443  2021-12-31  79.470   9  280,000
43444  2021-12-31  84.940  16  316,000
43445  2021-12-31  32.650  18   45,000
43446  2021-12-31  94.740   6  119,500

[43447 rows x 4 columns]

In [18]:
# 조건을 만족하는 열을 선택합니다.(불리언 인덱싱)
price.loc[:, price.dtypes == int]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[43447 rows x 0 columns]

### 열 삭제

In [19]:
# 삭제할 열이름을 drop() 함수의 columns 매개변수에 리스트로 지정합니다.
price.drop(columns = ['지역코드'])

,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
...,...,...,...,...,...,...,...,...,...
43442,흑석동양아파트,서울특별시,동작구,흑석동,328,2021-12-31,84.991,1,"105,000"
43443,삼풍아파트,서울특별시,서초구,서초동,1685,2021-12-31,79.470,9,"280,000"
43444,래미안블레스티지,서울특별시,강남구,개포동,1280,2021-12-31,84.940,16,"316,000"
43445,현대비젼21,서울특별시,강남구,도곡동,467-19,2021-12-31,32.650,18,"45,000"
43446,코오롱(1차),서울특별시,강동구,성내동,196-8,2021-12-31,94.740,6,"119,500"

In [20]:
# price의 처음 5행을 출력합니다. price는 여전히 지역코드를 포함하고 있습니다.
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,거래일,전용면적,층,거래금액
0,11170,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,11305,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,11380,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,11380,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"

In [21]:
# 열을 삭제하고 재할당하면 데이터프레임에서 해당 열을 삭제합니다.
price = price.drop(columns = ['지역코드'])
price.head()

              아파트    시도명  시군구  법정동      지번         거래일    전용면적   층    거래금액
0            동아그린  서울특별시  용산구  이촌동     411  2021-01-01  43.020  11  87,500
1        한원힐트리움수유  서울특별시  강북구  수유동     738  2021-01-01  27.390   5  24,300
2  대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1  2021-01-01  84.951   3  77,000
3         동광갈현베르빌  서울특별시  은평구  갈현동  465-12  2021-01-01  84.997   8  68,000
4         동광갈현베르빌  서울특별시  은평구  갈현동  465-12  2021-01-01  84.997   8  68,000

### 열이름 변경

In [22]:
# 일부 열이름을 변경한 결과를 출력합니다.
# [주의] columns 매개변수를 생략하면 안됩니다!
price.rename(columns = {'시도명': '시도', '시군구': '자치구'})

,아파트,시도,자치구,법정동,지번,거래일,전용면적,층,거래금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,"87,500"
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,"24,300"
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,"77,000"
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,"68,000"
...,...,...,...,...,...,...,...,...,...
43442,흑석동양아파트,서울특별시,동작구,흑석동,328,2021-12-31,84.991,1,"105,000"
43443,삼풍아파트,서울특별시,서초구,서초동,1685,2021-12-31,79.470,9,"280,000"
43444,래미안블레스티지,서울특별시,강남구,개포동,1280,2021-12-31,84.940,16,"316,000"
43445,현대비젼21,서울특별시,강남구,도곡동,467-19,2021-12-31,32.650,18,"45,000"
43446,코오롱(1차),서울특별시,강동구,성내동,196-8,2021-12-31,94.740,6,"119,500"

In [23]:
# price의 열이름을 출력합니다.
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [24]:
# 전체 열이름을 변경합니다.
# [주의] 데이터프레임의 열이름과 원소 개수가 같은 리스트를 지정해야 합니다.
price.columns = ['아파트', '시도', '자치구', '읍면동', '지번', 
                 '거래일', '전용면적', '층', '거래금액']
price.head()

              아파트     시도  자치구  읍면동      지번         거래일    전용면적   층    거래금액
0            동아그린  서울특별시  용산구  이촌동     411  2021-01-01  43.020  11  87,500
1        한원힐트리움수유  서울특별시  강북구  수유동     738  2021-01-01  27.390   5  24,300
2  대림한숲(DMC이편한세상)  서울특별시  은평구  수색동   415-1  2021-01-01  84.951   3  77,000
3         동광갈현베르빌  서울특별시  은평구  갈현동  465-12  2021-01-01  84.997   8  68,000
4         동광갈현베르빌  서울특별시  은평구  갈현동  465-12  2021-01-01  84.997   8  68,000

### 열별 자료형 변환

# 시리즈의 원소 자료형을 변환합니다.
# [참고] 거래금액 원소에 콤마가 있으므로 실수로 변환할 수 없습니다.
price['거래금액'].astype(dtype = float)

In [25]:
# 거래금액 원소에 있는 콤마를 삭제하고 재할당합니다.
price['거래금액'] = price['거래금액'].str.replace(pat = ',', repl = '')

In [26]:
# 시리즈의 원소 자료형을 실수형으로 변환하고 재할당합니다.
price['거래금액'] = price['거래금액'].astype(dtype = float)
price.dtypes

아파트      object
시도       object
자치구      object
읍면동      object
지번       object
거래일      object
전용면적    float64
층         int64
거래금액    float64
dtype: object

In [27]:
# 데이터프레임의 열별로 자료형 변환 방법을 딕셔너리로 지정합니다.
price = price.astype(dtype = {'거래일': np.datetime64, '층': float})
price.dtypes

아파트             object
시도              object
자치구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액           float64
dtype: object

In [28]:
# 정수형으로 변환할 열이름으로 리스트를 생성합니다.
cols = ['층', '거래금액']

In [29]:
# 선택한 열의 자료형을 일괄 변환합니다.
price[cols] = price[cols].astype(dtype = int)
price.dtypes

아파트             object
시도              object
자치구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int32
거래금액             int32
dtype: object

### [참고] 문자열을 날짜형으로 변환

In [30]:
# 날짜 기본형이 아닌 문자열 리스트로 시리즈를 생성합니다.
birth = pd.Series(data = ['2000년 1월 1일'])
birth

0    2000년 1월 1일
dtype: object

# birth를 날짜형으로 변환하려고 하면 에러를 반환합니다.
birth.astype(dtype = np.datetime64)

In [31]:
# to_datetime() 함수는 문자열을 날짜형으로 변환합니다.
birth = pd.to_datetime(arg = birth, format = '%Y년 %m월 %d일')
birth.iloc[0]

Timestamp('2000-01-01 00:00:00')

### [참고] 날짜 시간 데이터 연산

In [32]:
# 현재 날짜 시간 데이터를 생성합니다.
today = pd.Timestamp.today()
today

Timestamp('2022-09-16 08:04:58.084808')

In [33]:
# 태어나서 현재까지 살아온 기간을 dtGap에 할당합니다.
dtGap = today - birth.iloc[0]

In [34]:
# dtGap에서 경과일수를 출력합니다.
dtGap.days

8294

### [참고] 날짜 분해 함수

In [35]:
# 거래일에서 년(year)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.year

0        2021
1        2021
2        2021
3        2021
4        2021
         ...
43442    2021
43443    2021
43444    2021
43445    2021
43446    2021
Name: 거래일, Length: 43447, dtype: int64

In [36]:
# 거래일에서 월(month)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.month

0         1
1         1
2         1
3         1
4         1
         ..
43442    12
43443    12
43444    12
43445    12
43446    12
Name: 거래일, Length: 43447, dtype: int64

In [37]:
# 거래일에서 일(day)을 정수형 시리즈로 반환합니다.
price['거래일'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
43442    31
43443    31
43444    31
43445    31
43446    31
Name: 거래일, Length: 43447, dtype: int64

In [38]:
# 거래일에서 영문 요일을 문자형 시리즈로 반환합니다.
price['거래일'].dt.day_name()

0        Friday
1        Friday
2        Friday
3        Friday
4        Friday
          ...
43442    Friday
43443    Friday
43444    Friday
43445    Friday
43446    Friday
Name: 거래일, Length: 43447, dtype: object

In [39]:
# 거래일에서 한글 요일을 문자형 시리즈로 반환합니다.
price['거래일'].dt.day_name(locale = 'ko_KR')

0        금요일
1        금요일
2        금요일
3        금요일
4        금요일
        ...
43442    금요일
43443    금요일
43444    금요일
43445    금요일
43446    금요일
Name: 거래일, Length: 43447, dtype: object

### 조건에 맞는 행 선택: 연속형 변수

In [40]:
# 거래금액이 100억 이상인 행을 선택하여 df1에 할당합니다.
df1 = price[price['거래금액'] >= 1000000]
df1.head()

         아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
10512  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
10513  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000

In [41]:
# 거래금액이 100억 미만이고 60층 이상인 행을 선택하여 df2에 할당합니다.
df2 = price[(price['거래금액'] < 1000000) & (price['층'] >= 60)]
df2.head()

           아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
507    현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61  285000
7859    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64  460000
16466   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61  314000
18269   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63  535000
19706   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61  540000

### [참고] 시리즈의 비교 연산 함수

In [42]:
# 층이 60 초과면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].gt(60).sum()

11

In [43]:
# 층이 60 이상이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].ge(60).sum()

13

In [44]:
# 층이 60 미만이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].lt(60).sum()

43434

In [45]:
# 층이 60 이하이면 True, 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].le(60).sum()

43436

In [46]:
# 층이 60이면 True, 60이 아니면 False인 부울형 시리즈를 반환합니다.
price['층'].eq(60).sum()

2

In [47]:
# 층이 60이 아니면 True, 60이면 False인 부울형 시리즈를 반환합니다.
price['층'].ne(60).sum()

43445

In [48]:
# 비교 연산 함수는 시리즈이므로 소괄호로 감싸지 않아도 됩니다.
price['거래금액'].lt(1000000) & price['층'].ge(60)

0        False
1        False
2        False
3        False
4        False
         ...
43442    False
43443    False
43444    False
43445    False
43446    False
Length: 43447, dtype: bool

### 조건에 맞는 행 선택: 범주형 변수

In [49]:
# 자치구가 '강남구'인 행을 선택합니다.
price[price['자치구'].eq('강남구')]

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
22,개포주공6단지,서울특별시,강남구,개포동,185,2021-01-01,53.060,3,178000
23,삼성,서울특별시,강남구,수서동,747,2021-01-01,84.970,8,176000
24,현대1차101동~106동,서울특별시,강남구,개포동,653,2021-01-01,95.400,9,215000
165,SK허브프리모,서울특별시,강남구,도곡동,953-1,2021-01-02,67.570,11,91000
166,개포우성1,서울특별시,강남구,대치동,503,2021-01-02,84.810,12,285000
...,...,...,...,...,...,...,...,...,...
43403,푸른마을아파트101동~111동,서울특별시,강남구,일원동,719,2021-12-29,59.760,10,165000
43404,현대힐스테이트2단지,서울특별시,강남구,삼성동,50,2021-12-29,84.236,16,299000
43426,프리마빌,서울특별시,강남구,역삼동,727-11,2021-12-30,140.730,5,120000
43444,래미안블레스티지,서울특별시,강남구,개포동,1280,2021-12-31,84.940,16,316000
43445,현대비젼21,서울특별시,강남구,도곡동,467-19,2021-12-31,32.650,18,45000

In [50]:
# 자치구가 '강남구' 또는 '서초구'인 행을 선택합니다.
price[price['자치구'].eq('강남구') | price['자치구'].eq('서초구')]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

In [51]:
# isin() 함수는 시리즈 원소가 리스트에 있으면 True, 없으면 False를 반환합니다.
price[price['자치구'].isin(values = ['강남구', '서초구'])]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

In [52]:
# str.contains() 함수는 원소에 패턴이 있으면 True, 없으면 False를 반환합니다.
price[price['자치구'].str.contains(pat = '강남|서초')]

                 아파트     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
20             삼풍아파트  서울특별시  서초구  서초동    1685 2021-01-01  130.730   3  275000
21         엘에이치서초4단지  서울특별시  서초구  우면동     788 2021-01-01   59.930  25  120000
22           개포주공6단지  서울특별시  강남구  개포동     185 2021-01-01   53.060   3  178000
23                삼성  서울특별시  강남구  수서동     747 2021-01-01   84.970   8  176000
24     현대1차101동~106동  서울특별시  강남구  개포동     653 2021-01-01   95.400   9  215000
...              ...    ...  ...  ...     ...        ...      ...  ..     ...
43404     현대힐스테이트2단지  서울특별시  강남구  삼성동      50 2021-12-29   84.236  16  299000
43426           프리마빌  서울특별시  강남구  역삼동  727-11 2021-12-30  140.730   5  120000
43443          삼풍아파트  서울특별시  서초구  서초동    1685 2021-12-31   79.470   9  280000
43444       래미안블레스티지  서울특별시  강남구  개포동    1280 2021-12-31   84.940  16  316000
43445         현대비젼21  서울특별시  강남구  도곡동  467-19 2021-12-31   32.650  18   45000

[4691 rows x 9 columns]

### [참고] 시리즈를 문자열로 처리하는 주요 함수

In [53]:
# 실습용 시리즈를 생성합니다.
addr = pd.Series(data = ['서울특별시 강남구', '경기도 성남시 분당구'])

In [54]:
# 문자열(원소)을 지정한 패턴으로 분리한 결과를 데이터프레임으로 반환합니다.
addr.str.split(pat = ' ', expand = True)

       0    1     2
0  서울특별시  강남구  None
1    경기도  성남시   분당구

In [55]:
# 문자열(원소)마다 지정한 패턴이 있으면 시작 인덱스를 반환합니다.
# [참고] 지정한 패턴이 없으면 -1을 반환합니다.
addr.str.find(sub = '시')

0    4
1    6
dtype: int64

In [56]:
# 문자열(원소)마다 지정한 패턴을 변경합니다.
addr.str.replace(pat = ' ', repl = '')

0     서울특별시강남구
1    경기도성남시분당구
dtype: object

In [57]:
# 문자열(원소)을 지정한 인덱스로 자릅니다.
addr.str.slice(start = 0, stop = 2)

0    서울
1    경기
dtype: object

In [58]:
# 문자열(원소)마다 지정한 패턴에 해당하는 문자열을 추출합니다.
# [주의] 패턴을 소괄호로 감싸야 합니다.
addr.str.extract(pat = '([가-힣]+구)')

     0
0  강남구
1  분당구

### 행이름으로 행 삭제

In [59]:
# df1의 처음 5행을 출력합니다.
df1.head()

         아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
10512  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
10513  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000

In [60]:
# 삭제할 행이름을 drop() 함수의 index 매개변수에 리스트로 지정합니다.
# [주의] 행이름에 없는 값을 지정하면 에러를 반환합니다.
df1.drop(index = [10512, 10513])

         아파트     시도  자치구  읍면동   지번        거래일    전용면적  층     거래금액
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96  6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67  3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67  2  1080000
42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95  3  1150000
42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67  4  1170000
42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95  2  1200000

In [61]:
# 행이름 리스트 대신 인덱스로 지정할 수 있습니다.
df1.drop(index = df1.index[0:2])

         아파트     시도  자치구  읍면동   지번        거래일    전용면적  층     거래금액
27790  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96  6  1000000
31863  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67  3  1000000
36848  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67  2  1080000
42130  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95  3  1150000
42234  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67  4  1170000
42889  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95  2  1200000

### 행이름 초기화

In [62]:
# 행이름을 초기화한 결과를 출력합니다.
# [참고] drop = True를 추가하지 않으면 기존 행이름을 열로 추가합니다.
df1.reset_index(drop = True)

     아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
0  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
1  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
2  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
3  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
4  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000
5  파르크한남  서울특별시  용산구  한남동  410 2021-11-24  268.95   3  1150000
6  파르크한남  서울특별시  용산구  한남동  410 2021-11-26  268.67   4  1170000
7  파르크한남  서울특별시  용산구  한남동  410 2021-12-13  268.95   2  1200000

In [63]:
# 특정 열을 인덱스로 지정합니다.
df1 = df1.set_index(keys = '아파트')
df1.head()

          시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
아파트
PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000

In [64]:
# 행이름을 초기화하면서 기존 행이름을 열로 추가합니다.
df1 = df1.reset_index()
df1.head()

     아파트     시도  자치구  읍면동   지번        거래일    전용면적   층     거래금액
0  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
1  PH129  서울특별시  강남구  청담동  129 2021-03-04  273.96  14  1150000
2  PH129  서울특별시  강남구  청담동  129 2021-07-07  273.96   6  1000000
3  파르크한남  서울특별시  용산구  한남동  410 2021-08-04  268.67   3  1000000
4  파르크한남  서울특별시  용산구  한남동  410 2021-09-09  268.67   2  1080000

### 결측값 처리: 단순대체

In [65]:
# 데이터프레임의 셀 값별 결측값 여부를 반환합니다.
price.isna()

         아파트     시도    자치구    읍면동     지번    거래일   전용면적      층   거래금액
0      False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
43442  False  False  False  False  False  False  False  False  False
43443  False  False  False  False  False  False  False  False  False
43444  False  False  False  False  False  False  False  False  False
43445  False  False  False  False  False  False  False  False  False
43446  False  False  False  False  False  False  False  False  False

[43447 rows x 9 columns]

In [66]:
# 데이터프레임의 열별 결측값 개수를 계산합니다.
price.isna().sum()

아파트      0
시도       0
자치구      0
읍면동      0
지번      14
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [67]:
# 지번이 결측값인 행을 선택합니다.
price[price['지번'].isna()]

                 아파트     시도  자치구  읍면동   지번        거래일    전용면적   층    거래금액
1900       서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-01-12   84.48   8  160000
10266      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-03-02   84.48  11  159000
11456  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-03-11   84.95   2  163000
14474      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-06   84.48  21  154500
14989      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-10   59.21   2  135000
15516  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-04-15  101.90   4  187500
16181      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-04-20   84.87  14  155000
17240  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-04-27  101.90   3  184500
20261      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-05-16   59.21   8  131000
20533      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-05-18   84.87   1  151000
21923  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-05-26   84.95   4  165000
30693  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동  NaN 2021-07-26   84.99   7  182000
39801      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-10-13   84.87  10  178000
41572      서초포레스타2단지  서울특별시  서초구  내곡동  NaN 2021-11-11   84.41   9  160000

In [68]:
# 지번이 결측값인 행에서 결측값을 빈 문자열로 대체한 결과를 반환합니다.
price[price['지번'].isna()].fillna(value = '')

                 아파트     시도  자치구  읍면동 지번        거래일    전용면적   층    거래금액
1900       서초포레스타2단지  서울특별시  서초구  내곡동    2021-01-12   84.48   8  160000
10266      서초포레스타2단지  서울특별시  서초구  내곡동    2021-03-02   84.48  11  159000
11456  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-03-11   84.95   2  163000
14474      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-06   84.48  21  154500
14989      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-10   59.21   2  135000
15516  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-04-15  101.90   4  187500
16181      서초포레스타2단지  서울특별시  서초구  내곡동    2021-04-20   84.87  14  155000
17240  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-04-27  101.90   3  184500
20261      서초포레스타2단지  서울특별시  서초구  내곡동    2021-05-16   59.21   8  131000
20533      서초포레스타2단지  서울특별시  서초구  내곡동    2021-05-18   84.87   1  151000
21923  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-05-26   84.95   4  165000
30693  힐스테이트 서초 젠트리스  서울특별시  서초구  신원동    2021-07-26   84.99   7  182000
39801      서초포레스타2단지  서울특별시  서초구  내곡동    2021-10-13   84.87  10  178000
41572      서초포레스타2단지  서울특별시  서초구  내곡동    2021-11-11   84.41   9  160000

### [참고] 결측값을 이전 셀 값으로 채우기

In [69]:
# 현재 작업 경로에 있는 폴더명과 파일명을 출력합니다.
os.listdir()

['APT_List_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'KBO_Hitters_2021.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'Naver_APT_Detail_Seoul.xlsx']

In [70]:
# 법정동별 평균 거래금액 xlsx 파일을 읽고 데이터프레임을 생성합니다.
meanPrice = pd.read_excel(io = 'APT_Mean_Price_Dong_2021.xlsx')

In [71]:
# meanPrice를 출력합니다.
# [참고] xlsx에서 병합한 셀은 처음 값만 제대로 읽고 나머지는 결측값으로 대체합니다.
meanPrice

     자치구  읍면동    거래금액
0    강남구  개포동  211467
1    NaN  논현동  123896
2    NaN  대치동  235221
3    NaN  도곡동  249234
4    NaN  삼성동  189397
..   ...  ...     ...
309  NaN  면목동   64122
310  NaN   묵동   70601
311  NaN  상봉동   71782
312  NaN  신내동   62586
313  NaN  중화동   63143

[314 rows x 3 columns]

In [72]:
# 자치구에 있는 결측값을 이전 셀 값으로 채웁니다.
# [참고] method 매개변수에 'bfill'을 지정하면 결측값을 이후 셀 값으로 채웁니다.
meanPrice.fillna(method = 'ffill')

     자치구  읍면동    거래금액
0    강남구  개포동  211467
1    강남구  논현동  123896
2    강남구  대치동  235221
3    강남구  도곡동  249234
4    강남구  삼성동  189397
..   ...  ...     ...
309  중랑구  면목동   64122
310  중랑구   묵동   70601
311  중랑구  상봉동   71782
312  중랑구  신내동   62586
313  중랑구  중화동   63143

[314 rows x 3 columns]

### 결측값 처리: 행 삭제

In [73]:
# 데이터프레임에서 결측값이 있는 모든 행을 삭제하고 행 개수를 확인합니다.
price.dropna().shape[0]

43433

In [74]:
# 지번에서 결측값이 있는 행을 선택하고 행 개수를 확인합니다.
price[price['지번'].isna()].shape[0]

14

In [75]:
# 지번에서 결측값이 없는 행을 선택하고 행 개수를 확인합니다.
price[price['지번'].notna()].shape[0]

43433

In [76]:
# 지번에서 결측값이 아닌 행을 선택하고 price에 재할당합니다.
price = price[price['지번'].notna()]

### 파생변수 생성 : 연속형 변수

In [77]:
# 거래금액을 전용면적으로 나누고 3.3을 곱한 평당금액을 생성합니다.
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,87500,6711.994421
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,24300,2927.710843
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,77000,2991.136067
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,68000,2640.093180
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,68000,2640.093180

In [78]:
# 거래금액을 10000으로 나누면 단위가 만원에서 억원으로 바뀝니다.
price['거래금액'] = price['거래금액'] / 10000

In [79]:
# pandas 옵션에서 실수를 출력하는 소수점 자리수를 3으로 설정합니다.
pd.options.display.precision = 3
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.711
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.136
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093

### 파생변수 생성 : 범주형 변수

In [80]:
# 평당금액이 5000 이상이면 True, 아니면 False인 원소를 갖는 부울형 시리즈를 locs에 할당합니다.
locs = price['평당금액'].ge(5000)

In [81]:
# np.where() 함수는 조건이 True일 때 두 번째 인수, False일 때 세 번째 인수를 반환합니다.
np.where(locs, '5천 이상', '5천 미만')

array(['5천 이상', '5천 미만', '5천 미만', ..., '5천 이상', '5천 미만', '5천 미만'],
      dtype='<U5')

In [82]:
# 평당금액을 '5천 이상', '5천 미만'으로 구분한 금액구분을 생성합니다.
price['금액구분'] = np.where(locs, '5천 이상', '5천 미만')
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994,5천 이상
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.711,5천 미만
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.136,5천 미만
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만

### [참고] pandas에서 추천하는 코딩 방식

In [83]:
# price를 깊은 복사한 imsi를 생성합니다.
imsi = price.copy()

In [84]:
# 평당금액이 5000 이상인 행의 새 변수(금액구분2)에 '5천 이상'을 할당합니다.
imsi.loc[imsi['평당금액'].ge(5000), '금액구분2'] = '5천 이상'
imsi.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,금액구분2
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994,5천 이상,5천 이상
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.711,5천 미만,NaN
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.136,5천 미만,NaN
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,NaN
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,NaN

In [85]:
# 평당금액이 5000 미만인 행의 새 변수(금액구분2)에 '5천 미만'을 할당합니다.
imsi.loc[imsi['평당금액'].lt(5000), '금액구분2'] = '5천 미만'
imsi.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,금액구분2
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994,5천 이상,5천 이상
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.711,5천 미만,5천 미만
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.136,5천 미만,5천 미만
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,5천 미만
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,5천 미만

### [참고] 구간화 함수

In [86]:
# 연속형 변수를 세 개 이상으로 분리할 때 np.where() 함수를 중첩합니다.
np.where(price['평당금액'].ge(10000), 
         '1억 이상', 
         np.where(price['평당금액'].ge(5000), 
                  '5천 이상', 
                  '5천 미만'))

array(['5천 이상', '5천 미만', '5천 미만', ..., '1억 이상', '5천 미만', '5천 미만'],
      dtype='<U5')

In [87]:
# 연속형 변수를 세 개 이상으로 분리할 때 np.select() 함수를 사용합니다.
np.select(condlist = [price['평당금액'].ge(10000),
                      price['평당금액'].ge(5000),
                      price['평당금액'].lt(5000)], 
          choicelist = ['1억 이상', '5천 이상', '5천 미만'])

array(['5천 이상', '5천 미만', '5천 미만', ..., '1억 이상', '5천 미만', '5천 미만'],
      dtype='<U5')

### 파생변수 생성: 문자형 변수 결합

In [88]:
# 여러 문자형 변수를 + 연산자로 결합합니다.
price['주소'] = price['시도'] + ' ' + price['자치구'] + ' ' + \
                price['읍면동'] + ' ' + price['지번']
price.head()

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994,5천 이상,서울특별시 용산구 이촌동 411
1,한원힐트리움수유,서울특별시,강북구,수유동,738,2021-01-01,27.390,5,2.43,2927.711,5천 미만,서울특별시 강북구 수유동 738
2,대림한숲(DMC이편한세상),서울특별시,은평구,수색동,415-1,2021-01-01,84.951,3,7.70,2991.136,5천 미만,서울특별시 은평구 수색동 415-1
3,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,서울특별시 은평구 갈현동 465-12
4,동광갈현베르빌,서울특별시,은평구,갈현동,465-12,2021-01-01,84.997,8,6.80,2640.093,5천 미만,서울특별시 은평구 갈현동 465-12

In [89]:
# 여러 문자형 열이름으로 리스트를 생성합니다.
cols = ['시도', '자치구', '읍면동', '지번']

In [90]:
# 데이터프레임의 행(시리즈)별로 문자열을 결합하는 함수를 반복 실행합니다.
price[cols].apply(func = lambda x: ' '.join(x), axis = 1)

0           서울특별시 용산구 이촌동 411
1           서울특별시 강북구 수유동 738
2         서울특별시 은평구 수색동 415-1
3        서울특별시 은평구 갈현동 465-12
4        서울특별시 은평구 갈현동 465-12
                 ...
43442       서울특별시 동작구 흑석동 328
43443      서울특별시 서초구 서초동 1685
43444      서울특별시 강남구 개포동 1280
43445    서울특별시 강남구 도곡동 467-19
43446     서울특별시 강동구 성내동 196-8
Length: 43433, dtype: object

### [참고] 같은 함수 반복 실행 실습

In [91]:
# 아파트(시리즈)의 원소(문자열)별 글자수를 반환합니다.
price['아파트'].map(arg = len)

0         4
1         8
2        14
3         7
4         7
         ..
43442     7
43443     5
43444     8
43445     6
43446     7
Name: 아파트, Length: 43433, dtype: int64

In [92]:
# 데이터프레임의 열(시리즈)별 원소 개수를 반환합니다.
price[cols].apply(func = len, axis = 0)

시도     43433
자치구    43433
읍면동    43433
지번     43433
dtype: int64

In [93]:
# 데이터프레임의 행(시리즈)별 원소 개수를 반환합니다.
price[cols].apply(func = len, axis = 1)

0        4
1        4
2        4
3        4
4        4
        ..
43442    4
43443    4
43444    4
43445    4
43446    4
Length: 43433, dtype: int64

In [94]:
# 데이터프레임의 셀 값(문자열)별 글자수를 반환합니다.
price[cols].applymap(func = len)

       시도  자치구  읍면동  지번
0       5    3    3   3
1       5    3    3   3
2       5    3    3   5
3       5    3    3   6
4       5    3    3   6
...    ..  ...  ...  ..
43442   5    3    3   3
43443   5    3    3   4
43444   5    3    3   4
43445   5    3    3   6
43446   5    3    3   5

[43433 rows x 4 columns]

### 데이터프레임 정렬

In [95]:
# 층을 오름차순 정렬합니다.
# [참고] ascending 매개변수에 전달하는 인수의 기본값은 True입니다.
price['층'].sort_values()

19075    -3
19074    -3
11369    -1
41073    -1
5036     -1
         ..
25446    63
18269    63
7859     64
38720    64
25949    66
Name: 층, Length: 43433, dtype: int32

In [96]:
# 층을 내림차순 정렬합니다.
price['층'].sort_values(ascending = False)

25949    66
7859     64
38720    64
25446    63
18269    63
         ..
37547    -1
36628    -1
15493    -1
19075    -3
19074    -3
Name: 층, Length: 43433, dtype: int32

In [97]:
# price를 층으로 오름차순 정렬합니다.
price.sort_values(by = ['층'])

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.80,8083.777,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.40,7928.320,5천 이상,서울특별시 동작구 흑석동 341
11369,수산타운(2차),서울특별시,중구,신당동,432-2006,2021-03-11,32.860,-1,0.95,954.047,5천 미만,서울특별시 중구 신당동 432-2006
41073,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2021-11-02,134.750,-1,14.80,3624.490,5천 미만,서울특별시 은평구 진관동 84
5036,상지리츠빌카일룸,서울특별시,강남구,도곡동,202,2021-01-27,213.940,-1,53.70,8283.164,5천 이상,서울특별시 강남구 도곡동 202
...,...,...,...,...,...,...,...,...,...,...,...,...
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,45.00,6908.037,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,53.50,7229.019,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,46.00,7061.549,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,48.25,7156.823,5천 이상,서울특별시 강남구 도곡동 467
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,45.80,7030.847,5천 이상,서울특별시 강남구 도곡동 467-29

In [98]:
# price를 층으로 내림차순 정렬합니다.
price.sort_values(by = ['층'], ascending = False)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,45.80,7030.847,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,46.00,7061.549,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,48.25,7156.823,5천 이상,서울특별시 강남구 도곡동 467
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,45.00,6908.037,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,53.50,7229.019,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
37547,강변,서울특별시,용산구,이촌동,193-3,2021-09-15,66.080,-1,10.30,5143.765,5천 이상,서울특별시 용산구 이촌동 193-3
36628,연합파크빌,서울특별시,중랑구,중화동,331-64,2021-09-07,80.010,-1,7.65,3155.231,5천 미만,서울특별시 중랑구 중화동 331-64
15493,삼성그린101동,서울특별시,동작구,사당동,180-26,2021-04-15,67.150,-1,3.47,1705.287,5천 미만,서울특별시 동작구 사당동 180-26
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.80,8083.777,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.40,7928.320,5천 이상,서울특별시 동작구 흑석동 341

In [99]:
# price를 층과 거래금액으로 내림차순 정렬합니다.
price.sort_values(by = ['층', '거래금액'], ascending = False)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,45.80,7030.847,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,48.25,7156.823,5천 이상,서울특별시 강남구 도곡동 467
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,46.00,7061.549,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,53.50,7229.019,5천 이상,서울특별시 강남구 도곡동 467-29
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,45.00,6908.037,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
15493,삼성그린101동,서울특별시,동작구,사당동,180-26,2021-04-15,67.150,-1,3.47,1705.287,5천 미만,서울특별시 동작구 사당동 180-26
16073,옥수,서울특별시,성동구,옥수동,306,2021-04-20,55.470,-1,2.90,1725.257,5천 미만,서울특별시 성동구 옥수동 306
11369,수산타운(2차),서울특별시,중구,신당동,432-2006,2021-03-11,32.860,-1,0.95,954.047,5천 미만,서울특별시 중구 신당동 432-2006
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.80,8083.777,5천 이상,서울특별시 동작구 흑석동 341
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.40,7928.320,5천 이상,서울특별시 동작구 흑석동 341

In [100]:
# price를 층은 내림차순, 거래금액은 오름차순 정렬합니다.
price.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,금액구분,주소
25949,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,45.80,7030.847,5천 이상,서울특별시 강남구 도곡동 467-29
7859,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,46.00,7061.549,5천 이상,서울특별시 강남구 도곡동 467-29
38720,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,48.25,7156.823,5천 이상,서울특별시 강남구 도곡동 467
25446,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,45.00,6908.037,5천 이상,서울특별시 강남구 도곡동 467-29
18269,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,53.50,7229.019,5천 이상,서울특별시 강남구 도곡동 467-29
...,...,...,...,...,...,...,...,...,...,...,...,...
41073,은평뉴타운우물골(두산위브7단지),서울특별시,은평구,진관동,84,2021-11-02,134.750,-1,14.80,3624.490,5천 미만,서울특별시 은평구 진관동 84
7340,아크로리버하임,서울특별시,동작구,흑석동,341,2021-02-07,84.911,-1,20.90,8122.642,5천 이상,서울특별시 동작구 흑석동 341
5036,상지리츠빌카일룸,서울특별시,강남구,도곡동,202,2021-01-27,213.940,-1,53.70,8283.164,5천 이상,서울특별시 강남구 도곡동 202
19074,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.40,7928.320,5천 이상,서울특별시 동작구 흑석동 341
19075,아크로리버하임,서울특별시,동작구,흑석동,341,2021-05-09,84.911,-3,20.80,8083.777,5천 이상,서울특별시 동작구 흑석동 341

### 집계함수로 데이터 요약

In [101]:
# 거래금액에서 결측값을 제외한 빈도수를 반환합니다.
price['거래금액'].count()

43433

In [102]:
# 거래금액의 평균을 반환합니다.
price['거래금액'].mean()

10.244029829852877

In [103]:
# 거래금액의 표준편차를 반환합니다.
price['거래금액'].std()

7.474083182589728

In [104]:
# 거래금액의 최솟값을 반환합니다.
price['거래금액'].min()

0.66

In [105]:
# 거래금액의 최댓값을 반환합니다.
price['거래금액'].max()

120.0

In [106]:
# 거래금액의 다양한 기술통계량을 반환합니다.
price['거래금액'].describe()

count    43433.000
mean        10.244
std          7.474
min          0.660
25%          5.900
50%          8.450
75%         12.660
max        120.000
Name: 거래금액, dtype: float64

### 범주별 집계함수로 데이터 요약

In [107]:
# 자치구별 거래금액에서 결측값을 제외한 빈도수를 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].count()

자치구
강남구     2523
강동구     2038
강북구      930
강서구     2852
관악구     1484
광진구      746
구로구     2636
금천구      987
노원구     3963
도봉구     1894
동대문구    1708
동작구     1531
마포구     1544
서대문구    1439
서초구     2154
성동구     1510
성북구     2351
송파구     2116
양천구     1881
영등포구    1881
용산구      902
은평구     1683
종로구      450
중구       608
중랑구     1622
Name: 거래금액, dtype: int64

In [108]:
# 자치구별 거래금액의 평균을 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].mean()

자치구
강남구     19.244
강동구      9.362
강북구      6.693
강서구      7.912
관악구      7.288
광진구     11.982
구로구      6.200
금천구      5.953
노원구      6.725
도봉구      5.849
동대문구     7.759
동작구     11.178
마포구     11.655
서대문구     9.090
서초구     20.506
성동구     14.457
성북구      8.418
송파구     15.431
양천구     10.307
영등포구    10.179
용산구     19.953
은평구      7.308
종로구      9.332
중구       8.996
중랑구      6.426
Name: 거래금액, dtype: float64

In [109]:
# 자치구별 거래금액의 표준편차를 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].std()

자치구
강남구     12.712
강동구      5.063
강북구      2.266
강서구      3.497
관악구      2.904
광진구      5.231
구로구      3.202
금천구      2.878
노원구      2.183
도봉구      2.236
동대문구     3.752
동작구      4.330
마포구      4.859
서대문구     3.713
서초구     11.474
성동구      7.173
성북구      2.492
송파구      7.073
양천구      5.522
영등포구     6.251
용산구     14.644
은평구      3.056
종로구      6.017
중구       5.593
중랑구      2.459
Name: 거래금액, dtype: float64

In [110]:
# 자치구별 거래금액의 최솟값을 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].min()

자치구
강남구     1.420
강동구     0.780
강북구     0.888
강서구     0.780
관악구     0.980
광진구     0.750
구로구     0.660
금천구     0.850
노원구     0.675
도봉구     0.770
동대문구    0.850
동작구     1.100
마포구     1.240
서대문구    1.200
서초구     1.800
성동구     1.270
성북구     1.000
송파구     1.395
양천구     1.190
영등포구    0.950
용산구     1.500
은평구     0.900
종로구     0.750
중구      0.950
중랑구     0.770
Name: 거래금액, dtype: float64

In [111]:
# 자치구별 거래금액의 최댓값을 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].max()

자치구
강남구     115.00
강동구      40.00
강북구      14.95
강서구      20.00
관악구      16.00
광진구      28.90
구로구      20.50
금천구      14.75
노원구      18.00
도봉구      15.00
동대문구     18.20
동작구      43.00
마포구      47.00
서대문구     21.50
서초구      72.90
성동구      84.50
성북구      20.00
송파구      46.60
양천구      34.15
영등포구     45.00
용산구     120.00
은평구      17.00
종로구      37.50
중구       37.00
중랑구      22.00
Name: 거래금액, dtype: float64

In [112]:
# 자치구별 거래금액의 다양한 기술통계량을 반환합니다.
price.groupby(by = ['자치구'])['거래금액'].describe()

       count    mean     std    min     25%     50%     75%     max
자치구
강남구   2523.0  19.244  12.712  1.420   8.825  17.900  26.200  115.00
강동구   2038.0   9.362   5.063  0.780   5.647   9.675  13.250   40.00
강북구    930.0   6.693   2.266  0.888   5.500   6.940   8.100   14.95
강서구   2852.0   7.912   3.497  0.780   5.750   7.600   9.900   20.00
관악구   1484.0   7.288   2.904  0.980   5.600   7.665   9.113   16.00
광진구    746.0  11.982   5.231  0.750   8.732  12.325  15.100   28.90
구로구   2636.0   6.200   3.202  0.660   3.490   6.300   8.100   20.50
금천구    987.0   5.953   2.878  0.850   4.293   5.950   7.415   14.75
노원구   3963.0   6.725   2.183  0.675   5.300   6.350   7.850   18.00
도봉구   1894.0   5.849   2.236  0.770   4.400   5.750   6.980   15.00
동대문구  1708.0   7.759   3.752  0.850   5.388   8.200  10.000   18.20
동작구   1531.0  11.178   4.330  1.100   8.500  11.250  13.900   43.00
마포구   1544.0  11.655   4.859  1.240   8.544  11.850  14.860   47.00
서대문구  1439.0   9.090   3.713  1.200   6.595   8.700  11.500   21.50
서초구   2154.0  20.506  11.474  1.800  13.125  19.880  27.000   72.90
성동구   1510.0  14.457   7.173  1.270  11.000  13.480  15.900   84.50
성북구   2351.0   8.418   2.492  1.000   6.950   8.350   9.800   20.00
송파구   2116.0  15.431   7.073  1.395  10.000  14.500  21.000   46.60
양천구   1881.0  10.307   5.522  1.190   6.000   9.200  13.950   34.15
영등포구  1881.0  10.179   6.251  0.950   6.970   9.400  13.000   45.00
용산구    902.0  19.953  14.644  1.500  12.000  16.425  22.475  120.00
은평구   1683.0   7.308   3.056  0.900   4.830   7.350   9.400   17.00
종로구    450.0   9.332   6.017  0.750   4.000   8.425  13.688   37.50
중구     608.0   8.996   5.593  0.950   3.135   9.700  12.900   37.00
중랑구   1622.0   6.426   2.459  0.770   4.926   6.400   7.848   22.00

### 범주형 변수의 빈도수/상대도수 확인

In [113]:
# 자치구에서 중복을 제거한 원소를 반환합니다.
price['자치구'].unique()

array(['용산구', '강북구', '은평구', '마포구', '양천구', '강서구', '구로구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구', '종로구', '중구', '성동구', '광진구',
       '동대문구', '중랑구', '성북구', '도봉구', '노원구', '서대문구', '금천구'], dtype=object)

In [114]:
# 자치구에서 중복을 제거한 원소 개수를 반환합니다.
price['자치구'].nunique()

25

In [115]:
# 자치구별 빈도수를 내림차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts()

노원구     3963
강서구     2852
구로구     2636
강남구     2523
성북구     2351
서초구     2154
송파구     2116
강동구     2038
도봉구     1894
양천구     1881
영등포구    1881
동대문구    1708
은평구     1683
중랑구     1622
마포구     1544
동작구     1531
성동구     1510
관악구     1484
서대문구    1439
금천구      987
강북구      930
용산구      902
광진구      746
중구       608
종로구      450
Name: 자치구, dtype: int64

In [116]:
# 자치구별 빈도수를 오름차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts(ascending = True)

종로구      450
중구       608
광진구      746
용산구      902
강북구      930
금천구      987
서대문구    1439
관악구     1484
성동구     1510
동작구     1531
마포구     1544
중랑구     1622
은평구     1683
동대문구    1708
영등포구    1881
양천구     1881
도봉구     1894
강동구     2038
송파구     2116
서초구     2154
성북구     2351
강남구     2523
구로구     2636
강서구     2852
노원구     3963
Name: 자치구, dtype: int64

In [117]:
# 자치구별 빈도수를 시리즈 인덱스로 오름차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts().sort_index()

강남구     2523
강동구     2038
강북구      930
강서구     2852
관악구     1484
광진구      746
구로구     2636
금천구      987
노원구     3963
도봉구     1894
동대문구    1708
동작구     1531
마포구     1544
서대문구    1439
서초구     2154
성동구     1510
성북구     2351
송파구     2116
양천구     1881
영등포구    1881
용산구      902
은평구     1683
종로구      450
중구       608
중랑구     1622
Name: 자치구, dtype: int64

In [119]:
# 자치구별 상대도수를 내림차순 정렬한 결과를 반환합니다.
price['자치구'].value_counts(normalize = True)

노원구     0.091
강서구     0.066
구로구     0.061
강남구     0.058
성북구     0.054
서초구     0.050
송파구     0.049
강동구     0.047
도봉구     0.044
양천구     0.043
영등포구    0.043
동대문구    0.039
은평구     0.039
중랑구     0.037
마포구     0.036
동작구     0.035
성동구     0.035
관악구     0.034
서대문구    0.033
금천구     0.023
강북구     0.021
용산구     0.021
광진구     0.017
중구      0.014
종로구     0.010
Name: 자치구, dtype: float64

In [120]:
cols=['자치구','금액구분']

In [125]:
elong=price.groupby(by=cols)[['평당금액']].count() # 자치구, 금액구분 둘 다 index
elong

            평당금액
자치구  금액구분
강남구  5천 미만   806
     5천 이상  1717
강동구  5천 미만  1103
     5천 이상   935
강북구  5천 미만   921
     5천 이상     9
강서구  5천 미만  2312
     5천 이상   540
관악구  5천 미만  1391
     5천 이상    93
광진구  5천 미만   336
     5천 이상   410
구로구  5천 미만  2498
     5천 이상   138
금천구  5천 미만   911
     5천 이상    76
노원구  5천 미만  3746
     5천 이상   217
도봉구  5천 미만  1865
     5천 이상    29
동대문구 5천 미만  1460
     5천 이상   248
동작구  5천 미만   838
     5천 이상   693
마포구  5천 미만   735
     5천 이상   809
서대문구 5천 미만  1064
     5천 이상   375
서초구  5천 미만   656
     5천 이상  1498
성동구  5천 미만   462
     5천 이상  1048
성북구  5천 미만  2114
     5천 이상   237
송파구  5천 미만   569
     5천 이상  1547
양천구  5천 미만  1217
     5천 이상   664
영등포구 5천 미만  1243
     5천 이상   638
용산구  5천 미만   260
     5천 이상   642
은평구  5천 미만  1554
     5천 이상   129
종로구  5천 미만   359
     5천 이상    91
중구   5천 미만   435
     5천 이상   173
중랑구  5천 미만  1598
     5천 이상    24

In [126]:
elong.index

MultiIndex([( '강남구', '5천 미만'),
            ( '강남구', '5천 이상'),
            ( '강동구', '5천 미만'),
            ( '강동구', '5천 이상'),
            ( '강북구', '5천 미만'),
            ( '강북구', '5천 이상'),
            ( '강서구', '5천 미만'),
            ( '강서구', '5천 이상'),
            ( '관악구', '5천 미만'),
            ( '관악구', '5천 이상'),
            ( '광진구', '5천 미만'),
            ( '광진구', '5천 이상'),
            ( '구로구', '5천 미만'),
            ( '구로구', '5천 이상'),
            ( '금천구', '5천 미만'),
            ( '금천구', '5천 이상'),
            ( '노원구', '5천 미만'),
            ( '노원구', '5천 이상'),
            ( '도봉구', '5천 미만'),
            ( '도봉구', '5천 이상'),
            ('동대문구', '5천 미만'),
            ('동대문구', '5천 이상'),
            ( '동작구', '5천 미만'),
            ( '동작구', '5천 이상'),
            ( '마포구', '5천 미만'),
            ( '마포구', '5천 이상'),
            ('서대문구', '5천 미만'),
            ('서대문구', '5천 이상'),
            ( '서초구', '5천 미만'),
            ( '서초구', '5천 이상'),
            ( '성동구', '5천 미만'),
            ( '성동구', '5천 이상'),
            ( '성북구', '5천 미만'),
            ( '성북구', '5천 이상'),
            ( '송파구', '5천 미만'),
            ( '송파구', '5천 이상'),
            ( '양천구', '5천 미만'),
            ( '양천구', '5천 이상'),
            ('영등포구', '5천 미만'),
            ('영등포구', '5천 이상'),
            ( '용산구', '5천 미만'),
            ( '용산구', '5천 이상'),
            ( '은평구', '5천 미만'),
            ( '은평구', '5천 이상'),
            ( '종로구', '5천 미만'),
            ( '종로구', '5천 이상'),
            (  '중구', '5천 미만'),
            (  '중구', '5천 이상'),
            ( '중랑구', '5천 미만'),
            ( '중랑구', '5천 이상')],
           names=['자치구', '금액구분'])

In [127]:
elong.columns

Index(['평당금액'], dtype='object')

In [129]:
elong=elong.reset_index()
elong

    index   자치구   금액구분  평당금액
0       0   강남구  5천 미만   806
1       1   강남구  5천 이상  1717
2       2   강동구  5천 미만  1103
3       3   강동구  5천 이상   935
4       4   강북구  5천 미만   921
5       5   강북구  5천 이상     9
6       6   강서구  5천 미만  2312
7       7   강서구  5천 이상   540
8       8   관악구  5천 미만  1391
9       9   관악구  5천 이상    93
10     10   광진구  5천 미만   336
11     11   광진구  5천 이상   410
12     12   구로구  5천 미만  2498
13     13   구로구  5천 이상   138
14     14   금천구  5천 미만   911
15     15   금천구  5천 이상    76
16     16   노원구  5천 미만  3746
17     17   노원구  5천 이상   217
18     18   도봉구  5천 미만  1865
19     19   도봉구  5천 이상    29
20     20  동대문구  5천 미만  1460
21     21  동대문구  5천 이상   248
22     22   동작구  5천 미만   838
23     23   동작구  5천 이상   693
24     24   마포구  5천 미만   735
25     25   마포구  5천 이상   809
26     26  서대문구  5천 미만  1064
27     27  서대문구  5천 이상   375
28     28   서초구  5천 미만   656
29     29   서초구  5천 이상  1498
30     30   성동구  5천 미만   462
31     31   성동구  5천 이상  1048
32     32   성북구  5천 미만  2114
33     33   성북구  5천 이상   237
34     34   송파구  5천 미만   569
35     35   송파구  5천 이상  1547
36     36   양천구  5천 미만  1217
37     37   양천구  5천 이상   664
38     38  영등포구  5천 미만  1243
39     39  영등포구  5천 이상   638
40     40   용산구  5천 미만   260
41     41   용산구  5천 이상   642
42     42   은평구  5천 미만  1554
43     43   은평구  5천 이상   129
44     44   종로구  5천 미만   359
45     45   종로구  5천 이상    91
46     46    중구  5천 미만   435
47     47    중구  5천 이상   173
48     48   중랑구  5천 미만  1598
49     49   중랑구  5천 이상    24

In [132]:
elong.index

RangeIndex(start=0, stop=50, step=1)

In [139]:
elong=elong.rename(columns={'평당금액':'매매검수'})
elong.head()

   index  자치구   금액구분  매매검수
0      0  강남구  5천 미만   806
1      1  강남구  5천 이상  1717
2      2  강동구  5천 미만  1103
3      3  강동구  5천 이상   935
4      4  강북구  5천 미만   921

In [146]:
widen = elong.pivot(index='자치구',columns='금액구분',values='매매검수')
widen.head()

금액구분  5천 미만  5천 이상
자치구
강남구     806   1717
강동구    1103    935
강북구     921      9
강서구    2312    540
관악구    1391     93

In [147]:
widen.head()

금액구분  5천 미만  5천 이상
자치구
강남구     806   1717
강동구    1103    935
강북구     921      9
강서구    2312    540
관악구    1391     93

In [152]:
widen

금액구분  5천 미만  5천 이상
자치구
강남구     806   1717
강동구    1103    935
강북구     921      9
강서구    2312    540
관악구    1391     93
광진구     336    410
구로구    2498    138
금천구     911     76
노원구    3746    217
도봉구    1865     29
동대문구   1460    248
동작구     838    693
마포구     735    809
서대문구   1064    375
서초구     656   1498
성동구     462   1048
성북구    2114    237
송파구     569   1547
양천구    1217    664
영등포구   1243    638
용산구     260    642
은평구    1554    129
종로구     359     91
중구      435    173
중랑구    1598     24

In [149]:
widen.index

Index(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
       '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype='object', name='자치구')

In [150]:
widen.index.name

'자치구'

In [151]:
widen-widen.reset_index()
widen.head()

금액구분  5천 미만  5천 이상
자치구
강남구     806   1717
강동구    1103    935
강북구     921      9
강서구    2312    540
관악구    1391     93

In [153]:
widen.columns.name

'금액구분'

In [156]:
widen.columns.name=''

In [157]:
widen.columns.name

''

In [155]:
widen.head()

     5천 미만  5천 이상
자치구
강남구    806   1717
강동구   1103    935
강북구    921      9
강서구   2312    540
관악구   1391     93

In [181]:
widen.melt()

           value
0   5천 미만    806
1   5천 미만   1103
2   5천 미만    921
3   5천 미만   2312
4   5천 미만   1391
5   5천 미만    336
6   5천 미만   2498
7   5천 미만    911
8   5천 미만   3746
9   5천 미만   1865
10  5천 미만   1460
11  5천 미만    838
12  5천 미만    735
13  5천 미만   1064
14  5천 미만    656
15  5천 미만    462
16  5천 미만   2114
17  5천 미만    569
18  5천 미만   1217
19  5천 미만   1243
20  5천 미만    260
21  5천 미만   1554
22  5천 미만    359
23  5천 미만    435
24  5천 미만   1598
25  5천 이상   1717
26  5천 이상    935
27  5천 이상      9
28  5천 이상    540
29  5천 이상     93
30  5천 이상    410
31  5천 이상    138
32  5천 이상     76
33  5천 이상    217
34  5천 이상     29
35  5천 이상    248
36  5천 이상    693
37  5천 이상    809
38  5천 이상    375
39  5천 이상   1498
40  5천 이상   1048
41  5천 이상    237
42  5천 이상   1547
43  5천 이상    664
44  5천 이상    638
45  5천 이상    642
46  5천 이상    129
47  5천 이상     91
48  5천 이상    173
49  5천 이상     24

In [180]:
widen.melt(id_vars='자치구')#, value_vars=['5천 미만', '5천 이상'], var_name='금액형태',value_name='거래건수')

KeyError: '자치구'

In [182]:
# P217에서 역슬러쉬 뒤에는 아무 것도 없어야 함

### 피벗 테이블 생성

In [187]:
pd.pivot_table(data=price,
              values='평당금액',
              index='자치구',
              columns='금액구분',
              aggfunc=[np.mean, np.std, np.size, np.max, np.min])

          mean                 std            size            amax             \
금액구분     5천 미만     5천 이상     5천 미만     5천 이상 5천 미만 5천 이상     5천 미만      5천 이상
자치구
강남구   3843.930  8912.347   554.977  2073.619   806  1717  4992.844  14772.371
강동구   3502.362  6213.353   887.363   828.257  1103   935  4998.138   8455.625
강북구   3085.085  5171.643   780.364   157.562   921     9  4972.148   5466.685
강서구   3474.128  5623.411   955.393   521.094  2312   540  5000.000   7592.214
관악구   3472.958  5372.440   798.362   429.661  1391    93  4994.000   6611.018
광진구   3634.935  6132.464   923.753   742.751   336   410  4993.498   9901.650
구로구   2987.797  5485.809   907.412   352.019  2498   138  4992.950   6582.150
금천구   2814.226  5409.458   803.485   203.972   911    76  4980.156   5778.159
노원구   3567.634  5694.760   664.538   768.337  3746   217  4998.007   8255.159
도봉구   2933.621  5236.902   835.402   156.636  1865    29  4994.656   5511.182
동대문구  3514.043  6015.934   846.722   648.848  1460   248  4987.013   7565.022
동작구   3866.841  7520.743   803.098  3658.584   838   693  4998.548  16331.159
마포구   3794.666  6421.473   800.851   936.274   735   809  4998.083   9364.895
서대문구  3545.623  5866.591   906.912   832.111  1064   375  4997.332  12352.083
서초구   3716.092  8841.196   671.226  2715.262   656  1498  4998.783  17480.871
성동구   4210.766  6730.555   614.752  1491.825   462  1048  4999.411  15734.591
성북구   3577.020  5629.815   751.334   502.403  2114   237  4990.163   6886.477
송파구   3871.474  7541.465   856.655  1857.453   569  1547  4991.172  15200.506
양천구   3238.236  6728.775   983.527  1168.488  1217   664  4995.833  10325.407
영등포구  3785.273  6023.366   791.016   857.669  1243   638  4999.332  10256.942
용산구   3976.510  7205.423   752.061  1794.524   260   642  4996.905  14928.124
은평구   3266.025  5539.611   951.494   410.351  1554   129  4995.665   6548.495
종로구   3372.826  6897.792   947.706  1235.494   359    91  4975.101   9366.391
중구    3624.636  5809.418  1037.641   594.093   435   173  4992.815   7800.294
중랑구   3165.503  5383.556   661.414   356.370  1598    24  4954.416   6265.473

          amin
금액구분     5천 미만     5천 이상
자치구
강남구   1823.818  5001.229
강동구   1262.353  5003.369
강북구    592.206  5006.781
강서구    856.698  5000.000
관악구   1138.804  5008.339
광진구   1306.284  5012.073
구로구    927.227  5033.898
금천구    842.912  5004.265
노원구   1205.372  5006.033
도봉구    799.247  5022.364
동대문구  1200.671  5010.004
동작구   1052.344  5001.519
마포구   1744.427  5003.029
서대문구   887.097  5002.835
서초구   1591.407  5007.827
성동구   1725.257  5004.242
성북구   1090.780  5000.668
송파구   1456.739  5002.937
양천구    622.788  5005.592
영등포구  1299.639  5001.752
용산구   1334.291  5007.039
은평구   1026.119  5000.067
종로구   1284.380  5011.399
중구     954.047  5012.519
중랑구   1201.836  5008.924

### 교차 테이블 생성

In [196]:
pd.crosstab(index=price['자치구'],
           columns=price['금액구분'],
           normalize='index',
           margins=True,
           margins_name='합계')

금액구분  5천 미만  5천 이상
자치구
강남구   0.319  0.681
강동구   0.541  0.459
강북구   0.990  0.010
강서구   0.811  0.189
관악구   0.937  0.063
광진구   0.450  0.550
구로구   0.948  0.052
금천구   0.923  0.077
노원구   0.945  0.055
도봉구   0.985  0.015
동대문구  0.855  0.145
동작구   0.547  0.453
마포구   0.476  0.524
서대문구  0.739  0.261
서초구   0.305  0.695
성동구   0.306  0.694
성북구   0.899  0.101
송파구   0.269  0.731
양천구   0.647  0.353
영등포구  0.661  0.339
용산구   0.288  0.712
은평구   0.923  0.077
종로구   0.798  0.202
중구    0.715  0.285
중랑구   0.985  0.015
합계    0.701  0.299

### 데이터프레임 결합

In [197]:
# 엓셀이 여러개의 sheet로 나눠줘있을 때 씀

In [198]:
df1.columns.equals(other=df2.columns) #열 이름이 같은지 확인

True

In [199]:
pd.concat(objs=[df1,df2])

           아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액
0        PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
1        PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
2        PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000
3        파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000
4        파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000
5        파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000
6        파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000
7        파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000
507    현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000
7859    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000
16466   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000
18269   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000
19706   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000
21497   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000
22158  현대하이페리온  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000
24100   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000
25446   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000
25949   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000
36103   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000
38720   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500
42124   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000

In [200]:
pd.concat(objs=[df1,df2], ignore_index=True) # 위아래 붙이지만 index는 초기화줘

        아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액
0     PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
1     PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000
2     PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000
3     파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000
4     파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000
5     파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000
6     파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000
7     파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000
8   현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000
9    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000
10   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000
11   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000
12   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000
13   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000
14  현대하이페리온  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000
15   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000
16   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000
17   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000
18   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000
19   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500
20   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000

In [204]:
df2=df2.rename(columns={'아파트':'아파트명'})
df2

          아파트명     시도  자치구  읍면동      지번        거래일     전용면적   층    거래금액
507    현대하이페리온  서울특별시  양천구   목동     916 2021-01-05  154.050  61  285000
7859    타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64  460000
16466   타워팰리스1  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61  314000
18269   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63  535000
19706   타워팰리스1  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61  540000
21497   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62  455000
22158  현대하이페리온  서울특별시  양천구   목동     916 2021-05-28  154.050  61  285000
24100   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60  478000
25446   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63  450000
25949   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66  458000
36103   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60  368000
38720   타워팰리스1  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64  482500
42124   타워팰리스3  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62  423000

In [203]:
df1.columns.equals(other=df2.columns)

False

In [205]:
pd.concat(objs=[df1,df2], ignore_index=True) #이름이 다르면 결측이 됨

      아파트     시도  자치구  읍면동      지번        거래일     전용면적   층     거래금액     아파트명
0   PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000      NaN
1   PH129  서울특별시  강남구  청담동     129 2021-03-04  273.960  14  1150000      NaN
2   PH129  서울특별시  강남구  청담동     129 2021-07-07  273.960   6  1000000      NaN
3   파르크한남  서울특별시  용산구  한남동     410 2021-08-04  268.670   3  1000000      NaN
4   파르크한남  서울특별시  용산구  한남동     410 2021-09-09  268.670   2  1080000      NaN
5   파르크한남  서울특별시  용산구  한남동     410 2021-11-24  268.950   3  1150000      NaN
6   파르크한남  서울특별시  용산구  한남동     410 2021-11-26  268.670   4  1170000      NaN
7   파르크한남  서울특별시  용산구  한남동     410 2021-12-13  268.950   2  1200000      NaN
8     NaN  서울특별시  양천구   목동     916 2021-01-05  154.050  61   285000  현대하이페리온
9     NaN  서울특별시  강남구  도곡동  467-29 2021-02-10  214.967  64   460000   타워팰리스3
10    NaN  서울특별시  강남구  도곡동     467 2021-04-22  137.240  61   314000   타워팰리스1
11    NaN  서울특별시  강남구  도곡동  467-29 2021-05-04  244.224  63   535000   타워팰리스3
12    NaN  서울특별시  강남구  도곡동     467 2021-05-13  244.660  61   540000   타워팰리스1
13    NaN  서울특별시  강남구  도곡동  467-29 2021-05-24  214.967  62   455000   타워팰리스3
14    NaN  서울특별시  양천구   목동     916 2021-05-28  154.050  61   285000  현대하이페리온
15    NaN  서울특별시  강남구  도곡동  467-29 2021-06-10  214.967  60   478000   타워팰리스3
16    NaN  서울특별시  강남구  도곡동  467-29 2021-06-20  214.967  63   450000   타워팰리스3
17    NaN  서울특별시  강남구  도곡동  467-29 2021-06-24  214.967  66   458000   타워팰리스3
18    NaN  서울특별시  강남구  도곡동     467 2021-09-02  137.240  60   368000   타워팰리스1
19    NaN  서울특별시  강남구  도곡동     467 2021-09-30  222.480  64   482500   타워팰리스1
20    NaN  서울특별시  강남구  도곡동  467-29 2021-11-23  185.622  62   423000   타워팰리스3

In [206]:
pd.concat(objs=[df1,df2],axis=1)

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,아파트명,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
0,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1.150e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1.150e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,PH129,서울특별시,강남구,청담동,129,2021-07-07,273.96,6.0,1.000e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,파르크한남,서울특별시,용산구,한남동,410,2021-08-04,268.67,3.0,1.000e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,파르크한남,서울특별시,용산구,한남동,410,2021-09-09,268.67,2.0,1.080e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
5,파르크한남,서울특별시,용산구,한남동,410,2021-11-24,268.95,3.0,1.150e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
6,파르크한남,서울특별시,용산구,한남동,410,2021-11-26,268.67,4.0,1.170e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
7,파르크한남,서울특별시,용산구,한남동,410,2021-12-13,268.95,2.0,1.200e+06,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2021-01-05,154.050,61.0,285000.0
7859,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64.0,460000.0
16466,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-04-22,137.240,61.0,314000.0
18269,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63.0,535000.0
19706,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-05-13,244.660,61.0,540000.0
21497,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-24,214.967,62.0,455000.0
22158,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2021-05-28,154.050,61.0,285000.0
24100,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-10,214.967,60.0,478000.0
25446,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63.0,450000.0
25949,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66.0,458000.0
36103,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-02,137.240,60.0,368000.0
38720,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64.0,482500.0
42124,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-11-23,185.622,62.0,423000.0

In [207]:
df2=df2.reset_index(drop=True)

In [208]:
pd.concat(objs=[df1,df2],axis=1) #좌우로 붙일 일은 거의 없다. 우선 위아래로 붙이는 것만 기억해라

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,아파트명,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액
0,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1.150e+06,현대하이페리온,서울특별시,양천구,목동,916,2021-01-05,154.050,61,285000
1,PH129,서울특별시,강남구,청담동,129,2021-03-04,273.96,14.0,1.150e+06,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-02-10,214.967,64,460000
2,PH129,서울특별시,강남구,청담동,129,2021-07-07,273.96,6.0,1.000e+06,타워팰리스1,서울특별시,강남구,도곡동,467,2021-04-22,137.240,61,314000
3,파르크한남,서울특별시,용산구,한남동,410,2021-08-04,268.67,3.0,1.000e+06,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-04,244.224,63,535000
4,파르크한남,서울특별시,용산구,한남동,410,2021-09-09,268.67,2.0,1.080e+06,타워팰리스1,서울특별시,강남구,도곡동,467,2021-05-13,244.660,61,540000
5,파르크한남,서울특별시,용산구,한남동,410,2021-11-24,268.95,3.0,1.150e+06,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-05-24,214.967,62,455000
6,파르크한남,서울특별시,용산구,한남동,410,2021-11-26,268.67,4.0,1.170e+06,현대하이페리온,서울특별시,양천구,목동,916,2021-05-28,154.050,61,285000
7,파르크한남,서울특별시,용산구,한남동,410,2021-12-13,268.95,2.0,1.200e+06,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-10,214.967,60,478000
8,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-20,214.967,63,450000
9,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-06-24,214.967,66,458000
10,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-02,137.240,60,368000
11,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스1,서울특별시,강남구,도곡동,467,2021-09-30,222.480,64,482500
12,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2021-11-23,185.622,62,423000

### 데이터프레임 병합의 시각적 예시

In [ ]:
#concat은 index 기준으로 붙이는 것임
#

In [210]:
os.listdir()

['APT_List_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'KBO_Hitters_2021.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'Naver_APT_Detail_Seoul.xlsx']

In [211]:
detail=pd.read_excel('Naver_APT_Detail_Seoul.xlsx')

In [212]:
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트ID   9668 non-null   int64
 1   아파트명    9668 non-null   object
 2   지번주소    9668 non-null   object
 3   위도      9668 non-null   float64
 4   경도      9668 non-null   float64
 5   세대수     9668 non-null   int64
 6   임대수     9668 non-null   int64
 7   동수      9668 non-null   int64
 8   주차대수    9668 non-null   int64
 9   용적률     9668 non-null   int64
 10  건폐율     9668 non-null   int64
 11  건설사     9128 non-null   object
dtypes: float64(2), int64(7), object(3)
memory usage: 906.5+ KB

In [213]:
detail.head()

,아파트ID,아파트명,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
0,145017,개포자이르네,서울시 강남구 개포동 656-3,37.479,127.055,28,0,1,38,199,57,자이에스앤디
1,1298,개포주공5단지,서울시 강남구 개포동 187,37.488,127.068,940,0,6,912,151,12,대한주택공사
2,1303,개포주공6단지,서울시 강남구 개포동 185,37.489,127.070,1060,0,9,300,0,0,대한주택공사
3,1307,개포주공7단지,서울시 강남구 개포동 185,37.490,127.072,900,0,8,400,0,0,대한주택공사
4,128527,개포프레지던스자이,서울시 강남구 개포동 189번지 일원,37.485,127.072,3375,220,35,5881,249,18,㈜GS건설

In [215]:
len(set(price['주소']) & set(detail['지번주소']))

0

In [216]:
price['주소'].head()

0       서울특별시 용산구 이촌동 411
1       서울특별시 강북구 수유동 738
2     서울특별시 은평구 수색동 415-1
3    서울특별시 은평구 갈현동 465-12
4    서울특별시 은평구 갈현동 465-12
Name: 주소, dtype: object

In [217]:
detail['지번주소'].head()

0       서울시 강남구 개포동 656-3
1         서울시 강남구 개포동 187
2         서울시 강남구 개포동 185
3         서울시 강남구 개포동 185
4    서울시 강남구 개포동 189번지 일원
Name: 지번주소, dtype: object

In [218]:
price['주소']=price['주소'].str.replace('특별','')

In [219]:
len(set(price['주소']) & set(detail['지번주소']))

5204

In [220]:
price['주소'].head()

0       서울시 용산구 이촌동 411
1       서울시 강북구 수유동 738
2     서울시 은평구 수색동 415-1
3    서울시 은평구 갈현동 465-12
4    서울시 은평구 갈현동 465-12
Name: 주소, dtype: object

In [221]:
detail.head()

,아파트ID,아파트명,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
0,145017,개포자이르네,서울시 강남구 개포동 656-3,37.479,127.055,28,0,1,38,199,57,자이에스앤디
1,1298,개포주공5단지,서울시 강남구 개포동 187,37.488,127.068,940,0,6,912,151,12,대한주택공사
2,1303,개포주공6단지,서울시 강남구 개포동 185,37.489,127.070,1060,0,9,300,0,0,대한주택공사
3,1307,개포주공7단지,서울시 강남구 개포동 185,37.490,127.072,900,0,8,400,0,0,대한주택공사
4,128527,개포프레지던스자이,서울시 강남구 개포동 189번지 일원,37.485,127.072,3375,220,35,5881,249,18,㈜GS건설

In [223]:
np.random.choice(a=range(1,46), size=6, replace=False) #reaplace가 False 비복원 추출이 됨

array([32, 44, 11,  6, 15, 30])

In [227]:
for i in range(10):
    #np.random.seed(1) #알고리즘을 항상 같은 값으로
    lotto=np.random.choice(a=range(1,46), size=6, replace=False)
    lotto.sort()
    print(lotto)

[11 12 18 32 33 35]
[ 6 15 18 36 41 45]
[ 5 12 13 22 37 45]
[19 26 27 32 34 37]
[11 13 18 29 30 39]
[ 2  9 19 25 27 34]
[11 14 15 32 33 36]
[11 28 29 35 40 45]
[ 3  4 16 20 25 26]
[ 2  7 10 25 32 43]

In [235]:
np.random.seed(2)

In [236]:
nums=np.random.choice(a=range(1,6), size=3)

In [237]:
nums

array([1, 1, 4])

In [238]:
nums=pd.Series(nums)

In [239]:
nums

0    1
1    1
2    4
dtype: int32

In [240]:
nums.duplicated() #처음 나오는 놈인지 확인. 처음이면 False, 아니면 True

0    False
1     True
2    False
dtype: bool

In [242]:
nums.duplicated(keep=False)

0     True
1     True
2    False
dtype: bool

In [244]:
nums[nums.duplicated()]

1    1
dtype: int32

In [245]:
nums[nums.duplicated(keep='last')]

0    1
dtype: int32

In [246]:
nums[nums.duplicated(keep=False)]

0    1
1    1
dtype: int32

In [250]:
dup=detail['지번주소'].duplicated(keep=False)
detail[dup].sort_values(by=['지번주소'])

,아파트ID,아파트명,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
2,1303,개포주공6단지,서울시 강남구 개포동 185,37.489,127.070,1060,0,9,300,0,0,대한주택공사
3,1307,개포주공7단지,서울시 강남구 개포동 185,37.490,127.072,900,0,8,400,0,0,대한주택공사
424,724,"현대6,7차",서울시 강남구 압구정동 456,37.530,127.029,1288,0,15,1120,210,16,NaN
425,27498,현대65동(대림아크로빌),서울시 강남구 압구정동 456,37.532,127.032,56,0,1,89,240,20,NaN
896,902,주공고층3단지,서울시 강동구 둔촌동 174-1,37.524,127.139,1480,0,25,1468,0,0,대한주택공사
899,901,주공저층2단지,서울시 강동구 둔촌동 174-1,37.523,127.136,900,0,36,630,0,0,대한주택공사
1253,133402,미사아름채,서울시 강동구 천호동 452-15,37.538,127.128,1,0,1,0,553,59,주식회사미사종합건설
1254,133403,미사아름채(도시형),서울시 강동구 천호동 452-15,37.538,127.128,130,0,1,65,553,59,주식회사미사종합건설
1446,145240,에피소드수유838(민간임대),서울시 강북구 수유동 230-4,37.637,127.023,265,265,1,0,699,59,NaN
1447,145243,"에피소드수유838(민간임대,도시형)",서울시 강북구 수유동 230-4,37.637,127.023,293,293,1,0,699,59,NaN
2368,123685,노들리안3,서울시 관악구 봉천동 1667-13,37.482,126.955,1,0,1,0,408,52,신예종합개발(주)
2369,123686,노들리안3(도시형),서울시 관악구 봉천동 1667-13,37.482,126.955,21,0,1,11,408,52,신예종합개발(주)
2658,66,극동1차,서울시 광진구 광장동 218-1,37.543,127.104,448,0,5,500,204,0,극동건설
2646,67,광장극동2차,서울시 광진구 광장동 218-1,37.544,127.105,896,0,11,896,0,0,극동건설
2684,25418,MY,서울시 광진구 구의동 251-1,37.542,127.085,1,0,1,0,199,59,(주)원플러스 종합건설
2685,120820,MY(도시형),서울시 광진구 구의동 251-1,37.542,127.085,12,0,1,4,199,59,(주)원플러스 종합건설
2841,123905,테라팰리스건대2차,서울시 광진구 자양동 860,37.538,127.078,68,0,1,72,249,31,(주)주성종합건설
2842,123902,테라팰리스건대2차(도시형),서울시 광진구 자양동 860,37.538,127.078,10,0,1,8,249,31,(주)주성종합건설
2921,105912,화양타워(도시형),서울시 광진구 화양동 110-37,37.547,127.071,54,0,1,137,489,73,NaN
2922,14620,화양타워(아),서울시 광진구 화양동 110-37,37.547,127.071,38,0,1,37,489,59,NaN
2911,119123,씨즈건대힐스,서울시 광진구 화양동 530,37.546,127.075,1,0,1,1,249,36,(주)신성건설
2912,116717,씨즈건대힐스(도시형),서울시 광진구 화양동 530,37.546,127.075,148,0,1,74,249,36,(주)신성건설
3119,110384,하나세인스톤2차,서울시 구로구 구로동 97-4,37.497,126.892,9,0,1,3,776,57,(주)하나종합개발
3120,102801,하나세인스톤2차(도시형),서울시 구로구 구로동 97-4,37.497,126.892,91,0,1,35,766,57,(주)하나종합개발
3843,263,한신,서울시 노원구 하계동 284,37.638,127.069,1200,0,4,321,214,15,한신공영(주)
3834,25841,청구(284),서울시 노원구 하계동 284,37.638,127.069,660,0,5,330,214,15,청구
4313,109130,제이드파크(아),서울시 동대문구 장안동 382-2,37.570,127.069,12,0,1,6,489,59,재성건설주식회사
4312,109134,제이드파크(도시형),서울시 동대문구 장안동 382-2,37.570,127.069,28,0,1,14,489,59,재성건설주식회사
4432,126139,이문휘경지웰에스테이트,서울시 동대문구 휘경동 377,37.595,127.064,33,0,1,37,399,45,신영건설(주)
4433,127262,이문휘경지웰에스테이트(도시형),서울시 동대문구 휘경동 377,37.595,127.064,280,0,1,147,399,45,신영건설(주)
4434,3379,주공1단지,서울시 동대문구 휘경동 57,37.583,127.071,1224,0,13,2513,257,20,(주)서한
4435,100207,주공2단지,서울시 동대문구 휘경동 57,37.583,127.070,800,0,7,1200,0,0,금호산업(주)
4533,374,극동,서울시 동작구 사당동 105,37.492,126.973,1550,0,12,981,248,18,극동건설(주)
4562,380,사당우성2단지,서울시 동작구 사당동 105,37.488,126.977,1080,0,8,1299,248,18,주식회사 우성건설
4563,381,사당우성3단지,서울시 동작구 사당동 105,37.490,126.975,855,0,6,1710,0,0,주식회사 우성건설
4579,378,신동아4차,서울시 동작구 사당동 105,37.490,126.978,912,0,8,912,248,18,신동아건설(주)
4599,384,현대,서울시 동작구 사당동 169-32,37.488,126.970,265,0,2,350,215,18,현대산업개발(주)
4600,1136,현대(103동),서울시 동작구 사당동 169-32,37.488,126.969,81,0,1,0,184,15,현대산업개발(주)
5257,132163,더스타일하우스디센트럴,서울시 서대문구 충정로3가 480,37.561,126.962,199,199,2,137,464,53,대보건설(주)
5258,132162,더스타일하우스디센트럴(도시형),서울시 서대문구 충정로3가 480,37.561,126.962,300,300,2,115,464,53,대보건설(주)
5764,106897,훼미리타운(도시형),서울시 서초구 방배동 932-34,37.485,126.993,27,0,1,19,198,43,예림종합건설(주)
5763,126357,훼미리타운,서울시 서초구 방배동 932-34,37.485,126.993,1,0,1,0,198,43,예림종합건설(주)
6972,3754,장미2차,서울시 송파구 신천동 11,37.520,127.103,1302,0,10,1302,0,0,라이프주택
6973,622,장미3차,서울시 송파구 신천동 11,37.519,127.103,120,0,2,0,0,0,라이프주택
6965,620,미성,서울시 송파구 신천동 17-6,37.517,127.106,1230,0,9,2091,0,0,라이프주택개발(주)
6975,1284,크로바,서울시 송파구 신천동 17-6,37.516,127.107,120,0,2,264,0,0,라이프주택
8333,109492,한남아이파크,서울시 용산구 한남동 828,37.532,127.008,10,0,1,8,787,58,현대산업개발(주)
8334,109469,한남아이파크(도시형),서울시 용산구 한남동 828,37.532,127.007,270,0,1,240,787,58,현대산업개발(주)
8401,119076,만연샌텀시티,서울시 은평구 갈현동 456-8,37.619,126.920,1,0,1,0,430,51,(주)프레인종합건설
8402,119075,만연샌텀시티(도시형),서울시 은평구 갈현동 456-8,37.618,126.920,18,0,1,4,430,51,(주)프레인종합건설
8684,140893,미래하임,서울시 은평구 신사동 229-40,37.597,126.908,8,0,1,4,249,48,(주)모던종합건설
8685,140892,미래하임(도시형),서울시 은평구 신사동 229-40,37.597,126.908,10,0,1,5,249,48,(주)모던종합건설
9243,141501,세운푸르지오헤리시티,서울시 중구 인현동2가 151-1번지 일원,37.565,126.997,321,40,1,186,0,0,(주)대우건설
9244,131890,세운푸르지오헤리시티(도시형),서울시 중구 인현동2가 151-1번지 일원,37.564,126.997,293,0,1,162,0,0,(주)대우건설

In [251]:
detail=detail[~detail['지번주소'].duplicated()]

In [252]:
detail.shape[0]

9640

### 데이터프레임 병합

In [253]:
set(price.columns) & set(detail.columns) # 교집합이 있는지 확인.

set()

In [256]:
pd.merge(left=price,
        right=detail,
        how='inner',# 병합 방법 : inner 내부 병합
        left_on='주소',
        right_on='지번주소')

,아파트,시도,자치구,읍면동,지번,거래일,전용면적,층,거래금액,평당금액,...,지번주소,위도,경도,세대수,임대수,동수,주차대수,용적률,건폐율,건설사
0,동아그린,서울특별시,용산구,이촌동,411,2021-01-01,43.020,11,8.75,6711.994,...,서울시 용산구 이촌동 411,37.524,126.958,499,0,6,539,384,23,동아건설(주)
1,동아그린,서울특별시,용산구,이촌동,411,2021-01-05,59.580,15,11.80,6535.750,...,서울시 용산구 이촌동 411,37.524,126.958,499,0,6,539,384,23,동아건설(주)
2,동아그린,서울특별시,용산구,이촌동,411,2021-01-19,84.820,18,13.00,5057.769,...,서울시 용산구 이촌동 411,37.524,126.958,499,0,6,539,384,23,동아건설(주)
3,동아그린,서울특별시,용산구,이촌동,411,2021-01-19,114.960,19,14.95,4291.493,...,서울시 용산구 이촌동 411,37.524,126.958,499,0,6,539,384,23,동아건설(주)
4,동아그린,서울특별시,용산구,이촌동,411,2021-01-23,43.020,3,8.15,6251.743,...,서울시 용산구 이촌동 411,37.524,126.958,499,0,6,539,384,23,동아건설(주)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41259,휴먼씨티,서울특별시,서초구,양재동,402-15,2021-12-29,79.540,3,7.00,2904.199,...,서울시 서초구 양재동 402-15,37.471,127.049,16,0,1,16,298,59,휴먼라이프건설
41260,브라운스톤암사아파트,서울특별시,강동구,천호동,288-29,2021-12-29,84.970,9,11.80,4582.794,...,서울시 강동구 천호동 288-29,37.549,127.129,125,0,2,153,199,28,이수건설㈜
41261,프리마빌,서울특별시,강남구,역삼동,727-11,2021-12-30,140.730,5,12.00,2813.899,...,서울시 강남구 역삼동 727-11,37.497,127.039,19,0,1,29,287,58,백두건설산업(주)
41262,해오름2차,서울특별시,마포구,망원동,382-3,2021-12-31,93.990,3,5.70,2001.277,...,서울시 마포구 망원동 382-3,37.554,126.908,14,0,1,19,199,42,(주)지노씨엠
41263,부영,서울특별시,강서구,화곡동,24-147,2021-12-31,59.835,4,2.65,1461.519,...,서울시 강서구 화곡동 24-147,37.545,126.847,10,0,1,8,316,59,NaN

In [257]:
detail=detail.rename(columns={'지번주소':'주소'})

In [258]:
set(price.columns) & set(detail.columns) #하기 일치하는 이름이 있는 경우

{'주소'}

In [262]:
apt=pd.merge(left=price,
             right=detail,
             how='inner',
             on='주소')

In [263]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41264 entries, 0 to 41263
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     41264 non-null  object
 1   시도      41264 non-null  object
 2   자치구     41264 non-null  object
 3   읍면동     41264 non-null  object
 4   지번      41264 non-null  object
 5   거래일     41264 non-null  datetime64[ns]
 6   전용면적    41264 non-null  float64
 7   층       41264 non-null  int32
 8   거래금액    41264 non-null  float64
 9   평당금액    41264 non-null  float64
 10  금액구분    41264 non-null  object
 11  주소      41264 non-null  object
 12  아파트ID   41264 non-null  int64
 13  아파트명    41264 non-null  object
 14  위도      41264 non-null  float64
 15  경도      41264 non-null  float64
 16  세대수     41264 non-null  int64
 17  임대수     41264 non-null  int64
 18  동수      41264 non-null  int64
 19  주차대수    41264 non-null  int64
 20  용적률     41264 non-null  int64
 21  건폐율     41264 non-null  int64
 22  건설사     40381 non-null  object
dtypes: datetime64[ns](1), float64(5), int32(1), int64(7), object(9)
memory usage: 7.4+ MB

In [264]:
#외래키란 : 데이터프레임을 병합할 때 기준을 열을 외래키(foreign key)

# 데이터 시각화